@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-size: 16px;
  font-family: 'Poppins', 'sans-serif';
  margin: 0;
  padding: 0;
  /* height: 100vh;
  position: relative;
  background-image: 
    url('assets/background/beach.jpg'), 
    url('assets/background/mountains.jpg'), 
    linear-gradient(rgba(0, 0, 0, 0) 49.5%, rgba(0, 0, 0, 0.5) 50.5%, rgba(0, 0, 0, 0) 50.5%);
  background-position: center top, center bottom, center;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 100% 49.4%, 100% 50.6%, cover; */
}

h2 {
  padding-top: 1.4rem;
  text-align:center;
  text-transform:uppercase;
  letter-spacing: 0.4rem;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1.5rem 0;
  grid-gap: 1rem;

  color: rgb(2, 32, 81);
}

h2:after, h2:before {
  content: " ";
  display: block;
  border-bottom: 2px solid rgb(47, 96, 150);
  background-color:#f8f8f8 opacity 0;
}

h2:before {
  margin-left: 85%;
}

h2:after {
  margin-right: 85%;
}

.logo-container {
  height: 5rem;
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.logo {
  padding-bottom: 1.4rem;
  width: 20rem;
  height: auto;
  max-height: 100%;
  opacity: 1;
}

ul {
  margin:  0rem;
  padding: 0.5rem;
  /* opacity: .75; */
}

ul li {
  list-style: none;
  padding: 1rem;
  text-align: center;
  color: rgb(239, 239, 239);
  background-color: rgb(2, 32, 81);
}

ul li a {
  display: block;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

ul li:hover {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(2, 32, 81);
}

ul li:hover a {
  color: rgb(2, 32, 81);
  background-color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
}

footer {
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  /* color: rgb(239, 239, 239); */
}

.main-office-container {
  text-align: left;
  font-style: bold;
  padding-left: 1rem;
  color: rgb(2, 32, 81)
}

.main-office-container a {
  color: rgb(2, 32, 81)
}

.dealer-services-container {
  text-decoration: none;
  padding-right: 1rem;
}

.dealer-services-container a {
  color: rgb(2, 32, 81);
  display: flex;
  justify-content: flex-end;
  /* color: rgb(239, 239, 239); */
}

@media (min-width: 768px) {
    body {
      font-size: 18px;
    }
  }

@media (min-width: 1024px) {
    body {
      font-size: 20px;
    }
  }

